{% extends 'base.html' %}
{% block content %}
<div class="supplier-section">
    <div class="supplier-section-container">
        <h1 class="text-dark text-center">Suppliers</h1>
        <table class="table">
            <tr>
            <th>Supplier name</th>
            <th>Supplier email</th>
            <th>Supplier phone</th>
            <th>Supplier product</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.sup_name }}</td>
                    <td>{{ supplier.sup_email }}</td>
                    <td>{{ supplier.sup_phone }}</td>
                    <td>{{ supplier.sup_product }}</td>
                    <td><a href="/delete-supplier/{{ supplier.id }}">Delete</a></td>
                    <td><a href="/update-supplier/{{ supplier.id }}">Update</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
